*node_modules
node_modules/
*node_modules/
/node_modules/
/*node_modules/ #omg when would it work
node_modules
settings.json
*.idea
.idea/
*.idea/
/.idea/
/*.idea/ #omg when would it work
.idea
*.vscode
.vscode/
*.vscode/
/.vscode/
/*.vscode/ #omg when would it work
.vscode