#fileButton {}

.bodystyle {
    height: 1080px;
    background: #36393f;
}

.header {
    color: #ffffff70;
    font-family: "Dancing Script", cursive;
    font-size: 18px;
    position: relative;
    margin-top: -19px;
    margin-left: -8px;
    align-content: flex;
    width: 181px;
    height: 50px;
    border-right: 1px solid #000000;
    background: #25252593;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lifont {
    margin-left: -30px;
    color: #ffffff70;
    font-family: "Noto Sans JP", sans-serif;
    list-style-type: none;
}

.maintheme_container {
    position: absolute;
    left: 181px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #28292c;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.themes {
    position: absolute;
    margin-top: -10px;
    float: left;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

a.link {
    color: #ffffff70;
    text-decoration: none;
}

.theme-image {
    padding: 10px;
    float: left;
    width: 450px;
    height: 281px;
    border-radius: 8px;
    background-size: 100% 100%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.page-list {
    position: absolute;
    float: right;
    right: 3px;
    bottom: -10px;
}

.page-btn {
    border: none;
    background-color: #464953;
    color: rgb(184, 40, 241);
}

.hvr1 {}

.hvr1:before {}

.hvr1:hover,
.hvr1:focus,
.hvr1:active {
    color: white;
}

.hvr1:hover:before,
.hvr1:focus:before,
.hvr1:active:before {
    content: "111111";
    color: rgb(187, 187, 187);
    align-content: center;
    text-align: center;
}

.hvr2 {
    /* content: "$0"; */
}

.hvr2:before {}

.hvr2:hover,
.hvr2:focus,
.hvr2:active {
    color: white;
}

.hvr2:hover:before,
.hvr2:focus:before,
.hvr2:active:before {
    content: "Arc-Dark";
    color: rgb(187, 187, 187);
    align-content: center;
    text-align: center;
}

.btn {
    font-family: "Noto Sans JP", sans-serif;
    content: "instal";
    background-color: rgba(90, 17, 138, 0.712);
    position: absolute;
    outline: none;
    border-radius: 5px;
    z-index: 5;
    border: 0;
    top: 291.25px;
    left: 375px;
    width: 100px;
    height: 30px;
    transition: 1s;
    /* opacity: 0.50; */
}

.btn:hover {
    content: "instal";
    background-color: rgba(0, 139, 132, 0.692);
    color: white;
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "  ";
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 20px;
    margin-left: 15px;
    opacity: 0.85;
    background: #222222;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hide:hover .hide-item,
.hide:focus .hide-item,
.hvr-sweep-to-top:active:before {
    padding: 0px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}