.header {
  position: relative;
  width: 173px;
  height: 50px;
  border-right: 2px solid #000000;
}

.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 200px;
}

.hl {
  width: 192.5px;
  position: absolute;
  margin-top: -0.75px;
}

.mainlist {
  border: 1px solid #000000;
  width: 192.5px;
  height: 10000px;
  margin-left: -20px;
  background-image: url("listbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
