#header {
  position: relative;
  margin-top: -19px;
  margin-left: -8px;
  align-content: flex;
  width: 181px;
  height: 50px;
  border-right: 2px solid #000000;
  background-image: url("https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#mainlist {
  border: 1px solid #000000;
  width: 192.5px;
  height: 10000px;
  margin-left: -20px;
  background-image: url("listbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#maintheme_container{
  position: absolute;
  left: 200px;
  top: 0;
}
#theme_1 {

}
#image_theme {
  width: 350px;
  height: 220px; 
  border-radius: 8px;
  background-image:url("theme_1.png");
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left:50px;
}
#theme_2 {
  position: absolute;
  left: 525px;
  top: 0;
}
#image_theme_2 {
  width: 350px;
  height: 220px; 
  border-radius: 8px;
  background-image:url("theme_2.png");
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left:50px;