.bodystyle {
    height: 1080px;
    background: #36393f;
}

.header {
    color: #ffffff70;
    font-family: "Dancing Script", cursive;
    font-size: 18px;
    position: relative;
    margin-top: -19px;
    margin-left: -8px;
    align-content: flex;
    width: 181px;
    height: 50px;
    border-right: 1px solid #000000;
    background: #25252593;
    /* background-image: url("https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lifont {
    margin-left: -30px;
    color: #ffffff70;
    font-family: "Noto Sans JP", sans-serif;
    list-style-type: none;
}

.maintheme_container {
    position: absolute;
    left: 181px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #28292c;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.theme {
    position: absolute;
    float: left;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    align-items: stretch;
    flex-wrap: wrap;
}

a.link {
    color: #ffffff70;
    text-decoration: none;
}

.image_theme {
    padding: 10px;
    float: left;
    width: 350px;
    height: 220px;
    border-radius: 8px;
    background-size: 100% 100%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 100px;
    margin-bottom: 10px;
}


/* #image_theme_font {} */

.buttons_list {
    position: absolute;
    float: right;
    right: 20px;
    bottom: 30px;
}

.buttons {
    border: none;
    background-color: #464953;
    color: rgb(184, 40, 241);
}


/* hide element */


/* .hide:hover .hide-item,
.hide:focus .hide-item {
    opacity: 1;
}

.hide {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
} */


/* .hide>* {
    flex: 0 0 25%;
    font-size: 2em;
    text-align: center;
    padding: 1em 0;
    margin: 0.2em; */


/* background-color: #ccc; */


/* border-radius: 0.5em;
    user-select: none;
}

.hide-item { */


/* background-color: #f66; */


/* cursor: pointer;
    opacity: 0; */


/* display: none; */


/* } */

.hvr-sweep-to-top {
    content: "CONTENT";
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "  ";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222222b0;
    -webkit-filter: blur(3px);
    /* Safari 6.0 - 9.0 */
    filter: blur(3px);
    border-radius: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hide:hover .hide-item,
.hide:focus .hide-item,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


/* .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list li {
    flex: 1;
}

.list li a {
    text-decoration: none;
    color: inherit;
    padding-top: 1rem;
    display: block;
    text-align: center;
    overflow: hidden;
    font-size: 40px;
}

.list li a span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    font-size: 22px;
    margin-top: 1rem;
}

@media (hover: hover) {
    .list li a span {
        transform: translateY(400px);
        transition: 0.2s;
    }
    .list:hover span {
        transform: translateY(0);
    }
    .list li:nth-child(1) span {
        transition-delay: 0.0s;
    }
} */