.bodystyle {
  height: 1080px;
  background: #36393f;
}

.header {
  color: #ffffff70;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  position: relative;
  margin-top: -19px;
  margin-left: -8px;
  align-content: flex;
  width: 181px;
  height: 50px;
  border-right: 1px solid #000000;
  background: #25252593;
  /* background-image: url("https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lifont {
  margin-left: -30px;
  color: #ffffff70;
  font-family: "Noto Sans JP", sans-serif;
  list-style-type: none;
}

.maintheme_container {
  position: absolute;
  left: 181px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #28292c;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.theme {
  position: absolute;
  float: left;
  /* display: flex; */
  flex-direction: row;
  /* justify-content: center; */
  align-items: stretch;
  flex-wrap: wrap;
}

a.link {
  color: #ffffff70;
  text-decoration: none;
}

.image_theme {
  padding: 10px;
  float: left;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 100px;
  margin-bottom: 10px;
}

/* #image_theme_font {} */

.buttons_list {
  position: absolute;
  float: right;
  right: 20px;
  bottom: 30px;
}

.buttons {
  border: none;
  background-color: #464953;
  color: rgb(184, 40, 241);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.list li {
  flex: 1;
}
.list li a {
  text-decoration: none;
  color: inherit;
  padding-top: 1rem;
  display: block;
  text-align: center;
  overflow: hidden;
  font-size: 40px;
}
.list li a span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-size: 22px;
  margin-top: 1rem;
}
@media (hover: hover) {
  .list li a span {
    transform: translateY(200px);
    transition: 0.2s;
  }
  .list:hover span {
    transform: translateY(0);
  }
  .list li:nth-child(1) span {
    transition-delay: 0.0s;
}
.list li:nth-child(1) {
  background: #90CAF9;
}

