#bodystyle {
  background-color: #3cff00;
}

#header {
  position: relative;
  margin-top: -19px;
  margin-left: -8px;
  align-content: flex;
  width: 181px;
  height: 50px;
  border-right: 2px solid #000000;
  background-image: url("https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#maintheme_container {
  position: absolute;
  left: 181px;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("listbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#theme {
  position: absolute;
  float: right;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

#image_theme {
  float: left;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  background-image: url("theme_1.png");
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left: 50px;
}

#image_theme_2 {
  float: left;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  background-image: url("theme_2.png");
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left: 50px;
}

#image_theme_3 {
  float: left;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  background-image: url("theme_3.png");
  background-size: 100% 100%;
  margin-top: 25px;
  margin-left: 50px;
}
