.header {
  position: relative;
  width: 173px;
  height: 50px;
  border-right: 2px solid #000000;
}

.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 200px;
}

.hl {
  width: 192.5px;
  position: absolute;
  margin-top: -0.75px;
}

.mainlist {
  border: 1px solid #000000;
  width: 192.5px;
  height: 10000px;
  margin-left: -20px;
  background-image: url("https://www.itl.cat/pngfile/big/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.font-face {
  font-family: "Aladin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aladin-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Aladin Regular"), local("Aladin-Regular"),
    url("../fonts/aladin-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/aladin-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/aladin-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/aladin-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/aladin-v9-latin-regular.svg#Aladin") format("svg"); /* Legacy iOS */
}
